{% extends 'base.html' %}{% block content %}
<div class="index">
    <div class="container">
        <h1 class="text-center head">-BlogApp-</h1>
        <div class=" text-center intro">
            <p>Welcome to BlogApp which gives you an opportunity to  read, post and comment on blogs</p>
        </div>
        <div class="quote text-center">
            <h4 class="quo ">Random Quotes</h4>
            <p class="ote animated fadeIn" style="animation-delay:1s">{{ quote.quote }}</p>
            <p class="author">~{{ quote.author }}~</p>

        </div>
        <div class="text-center kik">
            <a href="/home"><button class="btn btn-success ">Find Blogs Here</button></a>
        </div>

    </div>
</div>
{% endblock %}